In [3]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('soundcloud_data.db')
c = conn.cursor()

In [5]:
artist_df = pd.read_sql_query("SELECT * from soundcloud_artists", conn)

In [6]:
artist_df.head()

,id,artist_name,artist_url,artist_toptrack,artist_toptrack_views,artist_followers,artist_numtracks
0,0,☆LiL PEEP☆,https://soundcloud.com/lil_peep,Lil Peep & XXXTENTACION - Falling Down,"128,671,898","2,231,981",107
1,1,Beach Bunny,https://soundcloud.com/beachbunnymusic,Cloud 9,"2,011,525","21,213",35
2,2,Vance Joy,https://soundcloud.com/vancejoy,Riptide,"50,188,576","81,722",92
3,3,Hopeless Records,https://soundcloud.com/hopelessrecords,"All Time Low - Dear Maria, Count Me In","9,814,941","71,549",244
4,4,Green Day,https://soundcloud.com/greenday,Brain Stew,"2,401,587","1,606,071",445

In [7]:
track_df = pd.read_sql_query("SELECT * from soundcloud_tracks", conn)

In [8]:
track_df.head()

,id,genre,title,url,artist,weekly_views,all_views,artist_url
0,0,Alternative Rock,Lil Peep & XXXTENTACION - Falling Down,https://soundcloud.com/lil_peep/lil-peep-ft-xx...,☆LiL PEEP☆,98414.0,128627075.0,https://soundcloud.com/lil_peep
1,1,Alternative Rock,Cloud 9,https://soundcloud.com/beachbunnymusic/cloud-9,Beach Bunny,77887.0,1988184.0,https://soundcloud.com/beachbunnymusic
2,2,Alternative Rock,Riptide,https://soundcloud.com/vancejoy/02-riptide,Vance Joy,46602.0,50170524.0,https://soundcloud.com/vancejoy
3,3,Alternative Rock,"All Time Low - Dear Maria, Count Me In",https://soundcloud.com/hopelessrecords/dear-ma...,Hopeless Records,18057.0,9802645.0,https://soundcloud.com/hopelessrecords
4,4,Alternative Rock,Brain Stew,https://soundcloud.com/greenday/brain-stew,Green Day,15464.0,2396422.0,https://soundcloud.com/greenday

In [9]:
conn.close()

# What Statistics Can't We Get on Our Own?
1. Total weekly views by genre
2. Total views by genre
3. Which artists appear in more than one genre

In [16]:
(track_df.groupby(
    'genre'))[['weekly_views', 'all_views']].sum().sort_values(
    'weekly_views', ascending=False).head(10)

                  weekly_views    all_views
genre
Hip-hop & Rap        9217970.0   93303394.0
R&B & Soul           3103763.0  107333697.0
Pop                  1273396.0  146714276.0
Rock                  784715.0   24460653.0
World                 542499.0  107841278.0
Latin                 446546.0   49299086.0
Country               413333.0   36571925.0
Alternative Rock      303805.0  236873520.0
Electronic            300516.0   93528288.0
Dance & EDM           192091.0  193817567.0

In [17]:
(track_df.groupby(
    'genre'))[['weekly_views', 'all_views']].sum().sort_values(
    'all_views', ascending=False).head(10)

                  weekly_views    all_views
genre
Trap                   84584.0  278923857.0
Alternative Rock      303805.0  236873520.0
Dance & EDM           192091.0  193817567.0
Dubstep                58994.0  165597066.0
Reggaeton              95604.0  155120173.0
Pop                  1273396.0  146714276.0
House                 101656.0  144226704.0
Deep House             26487.0  140579262.0
World                 542499.0  107841278.0
R&B & Soul           3103763.0  107333697.0

## Users Should be Able to:
<ul> 
    <li> See most popular genres (by weekly views) </li>
    <li> See most popular genres (by all time views) </li>
    <li> Other </li>
    <li> Other </li>

In [19]:
len(track_df)

410